<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="manifest" href="/manifest.json">
  <meta name="viewport" 
  content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./style/style.css" />
  <!--  Essential META Tags -->
  <meta property="og:title" content="Radio Estilo de Dios">
  <meta property="og:type" content="Radio" />
  <meta property="og:image" content="https://radioestilodedios.up.railway.app/assets/bg-mic.jpg">
  <meta property="og:url" content="https://radioestilodedios.up.railway.app">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="Una radio cristiana 24/7 con musica de bendición a tu alma.">
  <meta property="og:site_name" content="Radio Estilo de Dios">
  <meta name="twitter:image:alt" content="Imagen de un microfono retro">
  <title>Radio Estilo de Dios</title>
  <script type="module" defer src="./js/main.js"></script>
</head>

<body>
  <main>
    <h1 class="header_text">AL ESTILO DE DIOS</h1>
    <p>Bendición sonora para tu alma!</p>
    <button class="suscribe contact">¡Contactanos!</button>
  </main>
  <!-- Programas -->
  <section>
    <article>
      <h2 class="header_text">Al estilo de Dios</h2>
      <p>Producido y conducido por los esposos Cristian Jean y Juana Carty es un programa de predicación y enseñanza de
        la Palabra de Dios enfocado en la manera particular y única de la soberanía y el poder de Dios.</p>
      <button class="suscribe"data-program="estilo">¡Suscribirme a esta radio!</button>

    </article>
    <article>
      <h2 class="header_text">Balsamo de Vida</h2>
      <p>Bálsamo de Vida es un devocional diario producido por Rosmery Reid. Este es un programa corto de apenas cinco
        minutos. Es una verdadera bendición mañanera basado en temas bíblicos con aplicación a la vida diaria narrados
        de forma magistral por su conductora.</p>
      <button class="suscribe" data-program="bv">¡Suscribirme a esta radio!</button>

    </article>
    <article>
      <h2 class="header_text">Salud al dia</h2>
      <p>Escuche importantes orientaciones médicas y de salud con la doctora Greysi Stevens y sus invitados. La medicina
        y la fe se encuentran en este programa para poner su SALUD AL DÍA.</p>
      <button class="suscribe" data-program="salud">¡Suscribirme a esta radio!</button>

    </article>
    <article>
      <h2 class="header_text">Desayuno espiritual</h2>
      <p>Dos horas diarias de Lunes a Sábado son el desayuno espiritual que le brindan los pastores Rhina Griffith y
        José Adames para iniciar el día con una dieta espiritual balanceada y enfrentar los desafíos con determinación.
      </p>
      <button class="suscribe" data-program="desayuno-espiritual">¡Suscribirme a esta radio!</button>

    </article>
    <article>
      <h2 class="header_text">Testing notificactions</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sapiente minus at deserunt vel porro earum
        officia dolore, cumque magni consequatur quam soluta pariatur facilis sed sit quos est odio?</p>
      <button class="suscribe" data-program="test">¡Suscribirme a este programa!</button>

    </article>
  </section>
  <!-- Footer -->
  <footer>
    <div class="text">
      <span id="radio_label"></span>
      <span>Oyentes en vivo: <span id="label_listeners"></span></span>
    </div>
    <i id="playButton" class="fas fa-solid fa-play fa-beat-fade"></i>
  </footer>
  <!-- Audio -->
  <audio id="miniplayer" preload="auto">
    <source src="https://c11.radioboss.fm:8314/stream" />
  </audio>
  <!-- Iconos -->
  <script src="https://kit.fontawesome.com/3f1ffa954b.js" crossorigin="anonymous"></script>
</body>

</html>